@model IEnumerable<ComicMvC.Models.ComicCharacter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="link-body-emphasis">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Comic)</th>
            <th>@Html.DisplayNameFor(model => model.Character)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Comic.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Character.Name)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "link-info" }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "link-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "link-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
